{% extends 'base.html' %}
{% block pagetitle %}
İletişim
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(0, 85, 0);"><b>İletişim</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">Sorularınız ve önerileriniz için bizimle
            iletişime geçin.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Şeyma Sandıkçı</h3>
                <p class="lead" style="font-weight: 350;">Merhaba, ben Şeyma. Yazılım
                    Geliştiriciyim.
                    Ana Odak noktam Web front-end üzerinedir. Aynı zamanda
                     Makine Öğrenimi, Derin Öğrenme ve Yapay Zeka ile de İlgileniyorum.</p>
            </center>
            <div>
                <h5>Sosyal Medya :</h5><br>
                <a target="_blank" href='mailto:francesc44seyma@gmail.com'><img
                        src="static/images/gmail.png" height="40" width="40"></a> :
                seyma@gmail.com<br><br>
                <a target="_blank" href='#'><img
                        src="static/images/facebook.png" height="40" width="40"
                        ></a> : seyma<br><br>
                <a target="_blank" href='#'><img
                        src="static/images/instagram.png" height="40" width="40"></a> :
                seyma<br><br>
                <a target="_blank" href='#'><img
                        src="static/images/github.png" height="40" width="40"></a> :
                seyma<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Abc Xyz</h3>
                <p class="lead" style="font-weight: 350;">Merhaba, ben Abc. Ben bir girişimciyim, şu anda
                    bir startup olan Agri-Tech'in kurucu ortağıyım. Teknik yönde odaklandığım 
                    ana konular bulut bilişim ve mobil Uygulama geliştirmedir.
                </p>
            </center>
            <div>
                <h5>Sosyal Medya :</h5><br>
                <a target="_blank" href='mailto:francesc44seyma@gmail.com'><img
                        src="static/images/gmail.png" height="40" width="40"></a> :
                abc.xyz@gmail.com<br><br>
                <a target="_blank" href='#'><img
                        src="static/images/facebook.png" height="44" width="44"></a> :
                abc<br><br>
                <a target="_blank" href='#'><img
                        src="static/images/instagram.png" height="40" width="40"></a> :
                abc<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}